html, body {
  height: 200%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header{
  position: sticky;
  top: 0px;
  background: white;
  height: 66px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
  .rightbox{
     display: flex;
    margin: 12px;
  
  }


  .rightbox{
     display: flex;
    margin: 12px;
  
  }

.left img {
  width: 50px;
  height: 30px;
}
.container{
  padding : 0vw 10vw;
}
.containerHeader{
  padding : 0vw 10vw;
}
nav{
  font-size: 14px;
}
  

nav ul li {
  list-style: none;
  padding: 0 15px;
}
.section1{
  background-color: #fbf4f7;
}
.search{
  width: 34vw;
  padding: 7px 17px;
  border: .5px solid gray;
  background:#f7f8fd;
  border-radius: 5px;
}
.home img{
  width: 80vw;
  margin: 12px 0;
}
footer{
  padding: 23px;
  text-align: center;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media (max-width: 450px){
  .search{
    width: 32vw;
  }
}

@media (max-width: 1550px){
  nav ul li{
    line-height: none;
    padding: 0 4px;
    font-size: 10px;
  }
  
  .container{
    padding: 0 2vw;
  }
header{
  height: 122px;
} 
nav{
  flex-direction: column;
  align-items: center;
} 
  .right{
    flex-direction: column;
    display: flex;
    margin: 12px;
  }
}